* {
	font-family: arial;
}

body {
	background-color: #F0F0F0;
}

form input {
	border-radius: 5px;
}


.xfieldsetvisible {
	position: relative;
	padding-top: 40px;
	border-radius: 8px;
	margin-bottom: 8px;
	height: 3px; 

}

.xfieldsetvisible ul {
	visibility: hidden;
}

.xfieldsetvisible legend {
	top: 20px;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	margin-left: 4%;

}

.container{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;

	width: 80%;
	margin: 0 auto;
	margin-top: 20px;

}


/* logo */
.logo {
	height: 100px;
	background-color: #FFFFFF;
	padding: 15px;
}

header h1 {
	color: #434343;
	margin-left: 3%;
}
nav ul {
	background-color: #00955F;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	font-size: 87%;
	padding-top: 20px;
	padding-bottom: 20px;

}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	
}

nav ul li a:hover {
	background-color: #00432B;
}

#requests_table {
	width: 90%;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 100px;
}

.user_status_level {
	margin-left: 60%;
	font-style: italic;
	color: gray;
	position: absolute;
}

.record_label_space {
	color:gray;
	width: 300px;
	float: left;
	display: block;
}

td {
	width: 200px;
}


.messages {
	position: absolute;
	margin-left: 400px;
	margin-top: -15px;
	color:gray;
	font-style: italic;
	list-style: none;


}

label {
	color: gray;
	width: 300px;
	padding-right: 20px;
	float: left;
	display: block;
}



.submit_request li {
	list-style: none;
	display: inline-block;
	width: 200px;
	height: 100px;
	vertical-align: top;
	background-color: #00955F;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 100px;
	margin-right: 40px;
	
}

.submit_request li a {
	text-decoration: none;
	padding: 5px;
	color: white;
	
}

#search {
	border-radius: 10px;
	padding: 5px;
	font-style: italic;
}

#no_results {
	color: gray;
	text-align: center;
	font-style: italic;
	font-size: 87%;
}

form {
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	
}

form li {
	list-style: none;
	padding-bottom: 10px;

}

 form input[type=submit] {
 	
	margin-left: 90%;
	padding:20px;
	margin-bottom: 30px;
	margin-top: 10px;
	border-radius: 20px;


}

.form_intro {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

.request_detail {
	padding-left: 10px;
}

.request_detail h4 {
	padding-left: 20px;
}

.request_detail label {
	width: 200px;
	color: gray;
	font-size: 87%;
	padding-left: 20px;

}
.request_detail form {
	margin-bottom: 10px;
	margin-top: 0px;
	border-radius: 5px;
	margin-left: 20px;
}

.request_detail form input[type=submit] {
	display: inline;

}

.pdf_icon img {
	height: 25px;
	width: auto;
	position: absolute;
	margin-left: 73%;
	margin-top: -50px;
}


