{% extends "base.html" %}


{% block content %}

Welcome {{ user }}


{% if notifications.count > 0 %}
<h5>You have {{ notifications.count }} new notifications</h5>


{% for n in notifications %}
<p><a href="/notification/show/{{ n.id }}/"</a>{{ n.title }}</p>
{% endfor %}
{% endif %}

<br><br>
<p>Click <a href="/accounts/logout/">here</a> to logout</p>


{% endblock %}