{% extends "base.html" %}


{% block content %}


	<form action="/accounts/auth_view/" method="post">{% csrf_token %}

		<p>{{ form.as_p }}</p>

	<input type="submit" name="submit" value="Login"/>

	</form>


{% endblock %}