{% extends "base.html" %}


{% block content %}

<form action="/accounts/register/" method="post">{% csrf_token %}

<p>{{ form.as_p}}</p>

<input type="submit" name="submit" value="Register"/>

</form>
<hr>

{% endblock %}