{% extends "base.html" %}


{% block content %}

<h4>You have registered</h4>
<p>Your details: </p>
<p>UserName: {{ user}} </p>
<p>Email: {{ user.email }}</p>
<p>Super User Status: {{ user.is_superuser }}</p>


{% endblock %}