
{% if staff_requests.count > 0 %}

<table id="requests_table">


	{% for request in staff_requests %}
	<tr>

		<td> 
			<a href="/staff_requests/request_tt/{{ request.id }}/">{{ request.educ_code }}</a>
		</td>
			<td> 
			<a href="/staff_requests/request_tt/{{ request.id }}/">{{ request.educ_name }}</a>
		</td>
			<td> 
			<a href="/staff_requests/request_tt/{{ request.id }}/">{{ request.request_type }}</a>
		</td>
		<td> 
			<a href="/staff_requests/request_tt/{{ request.id }}/">{{ request.current_level }}</a>
		</td>
		<td> 
			<a href="/staff_requests/request_tt/{{ request.id }}/">{{ request.date_submitted }}</a>
		</td>
	
	</tr>
	{% endfor %}
</table>

{% else %}
<p id="no_results">There are no results</p>

{% endif %}

