{% extends "base.html" %}



{% block content %}

<h4>New Individual Case Request</h4>

<form action="/staff_requests/create_icc/" method="post">{% csrf_token %}

<h5>General Information</h5>

<p>{{ requestGeneralInfoForm.as_p }}</p>

<h5>Individual Case Information </h5>

<p>{{ requestICCForm.as_p }}</p>



<input type="submit" name="submit" value="Lodge Request"/>

</form>



{% endblock %}