{% extends "base.html" %}



{% block content %}

<h4>Breach of Academic Honesty Request</h4>

<form action="/staff_requests/create_dc/" method="post">{% csrf_token %}

<h5>General Information</h5>

<p>{{ requestGeneralInfoForm.as_p }}</p>

<h5>Details of Breach of Academic Honesty</h5>

<p>{{ requestDiscCommitteeForm.as_p }}</p>



<input type="submit" name="submit" value="Lodge Request"/>

</form>



{% endblock %}