{% extends "base.html" %}
{% load form_utils %}


{% block content %}

<div class="form_intro">
<h4>Submit a change to the Timetable</h4>
<p>Marfa tattooed keffiyeh, quis roof party twee readymade organic nesciunt master cleanse cliche typewriter Williamsburg seitan. Fixie sriracha placeat direct trade. Blog ullamco cred odio, hoodie gentrify delectus laborum sapiente consequat yr do. Fap actually stumptown small batch, ugh distillery brunch Pinterest keytar art party Tumblr before they sold out lomo. Magna asymmetrical cliche sunt hoodie pop-up. Authentic Schlitz PBR&B, minim adipisicing sunt cupidatat  </p>
</div>

<form action="/staff_requests/create_tt/" method="post"> {% csrf_token %}
{{ time_table_request_form | render }}

<h3>Add an activity</h3>
{{ time_table_activities_formset.management_form }}
{% for form in time_table_activities_formset.forms %}
<div class="item">
{{ form | render}}

<p style=""><a class="delete" href="#">Remove this activity</a></p>
</div>
{% endfor %}

<p><a id="add" href="#">Add another activity for this unit</a></p>


<input type="submit" name="submit" value="Lodge Request"/>

</form>



{% endblock %}



