{% extends "base.html" %}


{% block content %}


{% if request.deemings_or_savings %}
<h4> Deemings Case Request: {{ request.id }}</h4>

{% else %}

<h4> Savings Case Request: {{ request.id }}</h4>
{% endif %}


<div class="record_label_space">Request submitted by: </div>
<div>{{ request.requestGeneralInfo.requestor_first_name}} {{ request.requestGeneralInfo.requestor_family_name }}</div>

<div class="record_label_space">Student name: </div>
<div>{{ request.student_first_name}} {{ request.student_family_name}}</div>



{% endblock %}