{% extends "base.html" %}


{% block content %}

<h4>Discipline Committee Request</h4>

<div class="record_label_space">Request submitted by: </div>
<div>{{ request.requestGeneralInfo.requestor_first_name}} {{ request.requestGeneralInfo.requestor_family_name }}</div>

<div class="record_label_space">Student Name: </div>
<div>{{ request.student_first_name}} {{ request.student_family_name }}</div>

<div class="record_label_space">Description of Incident: </div>
<div>{{ request.incident_description }}</div>

{% endblock %}


