{% extends "base.html" %}



{% block nav %}

			<nav>

				<ul>
					<li><a href="/staff_requests/all_requests/">All Requests</a></li>
					<li><a href="/staff_requests/submit_request/">Submit a request</a></li>
					<li><a href="/accounts/logout">Logout</a></li>
					<li><a href="/accounts/login">Login</a></li>
					<li><a href="/accounts/register">Register</a></li>
					{%csrf_token %}
					<li><input type="text" id="search" placeholder="search"/></li>
					
					<li><a href="/admin">Admin</a></li>

				</ul>
			</nav>
{% endblock %}



{% block content %}

<p id="search-results">

</p>





{% endblock %}