{% extends "base.html" %}


{% block content %}

			<ul class="submit_request">
				<li><a href="/staff_requests/create_tt/">Timetable Change</a></li>
				<li><a href="#">Report a breach of academic honesty</a></li>
				<li><a href="#">Submit Student Individual Case</a></li>
				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="#">Introducew new curriculum</a></li>
				<li><a href="/staff_requests/create_tt/">Timetable Change</a></li>
				<li><a href="#">Report a breach of academic honesty</a></li>
				<li><a href="#">Submit Student Individual Case</a></li>
				<li><a href="/staff_requests/create_unit_change/">Make a Curriculum Change</a></li>
				<li><a href="#">Introducew new curriculum</a></li>
			
			</ul>

{% endblock %}